.mem .user_login {
    display: none;
}

.login-container {
    min-height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    margin-top: 12px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 16px;
}

.form-container > form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ff, .login-btn, .sign-up-btn, .login-link {
    width: 100%;
    font-size: 1.4rem;
    padding: 12px 8px 12px 40px;
}

.field {
    position: relative;
}

.field > svg {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-container .actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-btn {
    color: #fff;
    background-color: #3e5eee;
    border: none;
    outline: none;
    padding-left: 8px;
    cursor: pointer;
}

.sign-up-btn, .login-link {
    color: #3e5eee;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3e5eee;
    padding-left: 8px;
    background-color: inherit;
    cursor: pointer;
}

.misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.misc a {
    text-decoration: none;
}

.misc .field * {
    cursor: pointer;
}

.login-link {
    color: #fff;
    background-color: #3e5eee;
}
